/*My edit*/
/*For overlay navbar when collapse*/
.overlay { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.9); overflow-x: hidden; transition: 0.5s; }

.overlay-content { position: relative; top: 25%; width: 100%; text-align: center; }

.overlay a { padding: 8px; text-decoration: none; font-size: 50px; margin-bottom: 70px; color: #818181; display: block; transition: 0.3s; font-weight: bold}

.overlay a:hover, .overlay a:focus { color: #f1f1f1; }

.overlay .closebtn { position: absolute; top: 20px; left: 45px; font-size: 100px; }

.head-style { position: fixed;  z-index: 2; padding: 2.5em 7em }

@media (max-width: 768px) { .head-style { padding: 4em 4em } }

/*For 450px width*/
@media (max-width: 450px) { .head-style { padding: 4em 4em } 
.overlay a {  font-size: 20px; margin-bottom: 50px; }
}/**/
.container-none { right: 0; left: 0; }

.aMar a { margin-right: 1.5em; }

.tempadd { float: right; }

.temphideLang{ margin-left:-15px; }
/**/
.for-reg { color:#fff; font-size:12px; }
  
.for-lan{ color:#fff; font-size:10px; }
  
/*Letter spacing strong*/
.for-bold{ color:#fff; font-size:42px; letter-spacing: 8px; line-height: 200%; }

.for-bold-hiring{ color:#fff; font-size:2.4em; letter-spacing: 0.2em; line-height: 130%; }
  
.for-title{ color:#555654; font-size:26px; letter-spacing: 8px; text-align: center; margin-top:4vw; }
  
.for-under{ color:#bcbec0; font-size:12px; text-align: center; margin-top:1vw; }

/*set area to get a block*/
.area{ height: 800px; width: 700px; background: rgba(255, 255, 255, 0); display:table-cell; }

.area-margin{ margin: 27% 0 0 10%; }

.area-margin1{ margin: 15% 0 0 10%; }
  
.alive-button{ background: rgba(255, 255, 255, 0); font-size: 18px; height:50px; width: 290px; padding: 20px 50px; letter-spacing: 3px; }

.alive-button:hover{ background-color:rgba(192,192,192,0.3); }



@media (max-width: 769px) { .alive-button{ font-size: 25px; padding: 30px 70px; }
  .for-bold{ font-size: 45px; }
  .area{ height: 800px; width: auto; }
  .area-margin{ margin: 38% 0 0 10%; }
  .area-margin1{ margin: 15% 0 0 10%; }
  figcaption{ background-color: rgba(255, 255, 255, 0) !important; }
  #alive-latestwork{ height: auto !important; }
  .for-title{ font-size:42px; margin-top:10vw; }
  .for-under{ font-size:30px; } }

@media (max-width:450px){
  
  /* .container-none { right: 0; left: 0; }

.aMar a { margin-right: 1.5em; }

.tempadd { float: right; }

.temphideLang{ margin-left:-15px; }

.for-reg { color:#fff; font-size:12px; }
  
.for-lan{ color:#fff; font-size:10px; } */
  
.temp{
  font-size: 12px !important;
}

.temp1{
  font-size: 16px !important;
}

.for-bold{font-size:25px !important; letter-spacing: 5px; }
  
.for-title{ font-size:25px !important; letter-spacing: 5px; }
  
.for-under{font-size:16px!important; }


.area{ width: auto;}
  
.alive-button{ font-size: 15px!important; padding: 20px 25px!important; }
}
  
/*Latest work*/
.alive-slider .left { display: inline; }

.alive-slider.right { right: 0; left: auto; display: inline; }

.right-ar { position: absolute; top: 50%; right: 0%; transform: translate(0%, -50%); -ms-transform: translate(0%, -50%) }

.left-ar { position: absolute; top: 50%; left: 0%; transform: translate(0%, -50%); -ms-transform: translate(-0%, -50%) }

/*Owl Carousel*/
.owl-prev { width: 15px; height: 100px; position: absolute; top: 40%; margin-left: -10em; display: block!important; border: 0px solid black; }

.owl-next { width: 15px; height: 100px; position: absolute; top: 40%; right: -7em; display: block !important; border: 0px solid black; }

.owl-prev i, .owl-next i { transform: scale(1, 6); color: #ccc; }

/*Button style*/
.alive-button1, .alive-button2, .alive-button3{ background: none; font-size: 18px; height:50px; width: 290px; letter-spacing: 3px; color:#555654; border: 2px solid #555654; }
  
.alive-button1:hover, .alive-button2:hover, .alive-button3:hover{ background-color:#555654; color:#fff; }

.alive-button-lang{ background: none; font-size: 20px; padding: 15px 15px; margin: -10px 30px 0 0; letter-spacing: 3px; color:#fff; border: 2px solid #fff; }
  
.alive-button-hiring{ background-color:#8fda00; font-size: 1.2em; height:50px; width: 290px; letter-spacing: 3px; color:#fff; border: 2px solid #8fda00 }
  
.alive-button-hiring:hover{ background-color:rgba(192,192,192,0); color:#fff; }
  
.alive-button-getintouch{ padding:10px 30px 10px 30px; background: none; font-size: 1em; height:35px; width: 195px; letter-spacing: 3px; color:#555654; }
  
.alive-button-getintouch:hover{ background-color:#555654; color:#fff; }
  
/*Latest works*/
.nav>li>a:focus, .nav>li>a:hover { background-color:#555654; color: #fff; }

.nav-pills>li>a{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; color:#555654; border: 1px solid #555654;}

.nav-pills>li{ margin:0!important;}

.center-pills { display: flex; justify-content: center;}
  
.alive-button-drop{ border:1px solid #000; height:40px; width: 300px; background: #fff; letter-spacing: 1px; transition: all 0.3s; font-size: 0.84em; color: #555654; }

.image-overlay { display: table; width: 100%; height: auto; }

.lw-overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; }

.text-overlay { color: white; font-size: 14px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; }

.text-overlay1 { color: white; font-size: 20px; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; }

.hov-overlay { position: relative; width: 50%; }

.hov:hover .lw-overlay { opacity: 1; }

.lw-type{ margin-top:15px; font-size:18px; }

.lw-title{ font-size: 22px; }
  
/*Pure CSS gallery for NEWS*/
.galle { width: 100%; height: 100%; object-fit: cover; }

.grid_galle { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 2rem; }

.block_galle { display: grid; grid-template-rows: 28rem 28rem; grid-row-gap: 2rem; }

.grid__one .block__top { display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 2rem; }

.grid__two .block_galle { grid-template-rows: 38rem 18rem; }

.grid__three .block_galle { grid-template-rows:28rem 28rem; }


@media (max-width: 768px) { .grid_galle { grid-gap: 4rem; } 
  .block_galle { display: grid; grid-template-rows: 50rem 50rem; grid-row-gap: 4rem; }
  .grid_galle { grid-template-columns: 1fr; }
  .hideimg{ display: none !important; }
  .grid__one .block__top { grid-column-gap: 4rem; }
  .grid__two .block_galle { grid-template-rows: 70rem 0rem; }
  .grid__three .block_galle { display: none; }
  .alive-button2{ margin-top:-3vw; margin-bottom: 6vw; } }

  
@media(max-width:450px){.grid_galle { grid-gap: 2rem; } 
  .block_galle { display: grid; grid-template-rows: 28rem 28rem; grid-row-gap: 2rem; }
  .grid_galle { grid-template-columns: 1fr; }
  .hideimg{ display: none !important; }
  .grid__one .block__top { grid-column-gap: 2rem; }
  .grid__two .block_galle { grid-template-rows: 35rem 0rem; }
  .grid__three .block_galle { display: none; }
  .alive-button2{ margin-top:-3vw; margin-bottom: 6vw; } }

/*our blog style*/
.fou-col-des{ width:25%; float: left; position: relative; min-height: 1px; padding-right: 12px; padding-left: 12px; }

.blog-img-mar { display: block; margin: 10px 0px 20px 0px; }
  
.blog-type{ color:#8fda00; margin: 0px 10px 10px 0px; font-size:0.9em; display:block; }

.blog-type:hover{ color:rgba(143, 218, 0, 0.5); margin: 0px 10px 10px 0px; font-size:0.9em; display:block; }
  
.blog-title{ color:#555654; margin: 10px 10px 10px 0px; font-size:14px; display:block; font-weight: 900; }
  
.blog-content{ color:#555654; margin: 10px 10px 10px 0px; font-size:9px; }
  
.blog-readmore{ color:#555654; margin: 10px 10px 10px 0px; font-size:9px; }

#blog-img-col{ -webkit-column-count: 4; -webkit-column-gap: 0px; -moz-column-count: 4; -moz-column-gap: 0px; column-count: 4; column-gap: 0px; }

#blog-img-col img { width: 100% !important; height: auto !important; }

figure div img{ width: 100%; }

.fou-col-half{ width:50%; float: left; position: relative; min-height: 1px; padding: 0.25em 0.25em 0.25em 0.25em; }

@media (max-width: 768px) { #blog-img-col { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
  
.fou-col-des{ width:50%; }
  
.block-ellipsis { display: block; display: -webkit-box; max-width: 100%; height: 4em; margin: 0 auto; font-size: 0.68em; line-height: 2; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
  
.fou-col-sm { width:50%; float: left; position: relative; min-height: 1px; padding: 0.25em 0.25em 0.25em 0.25em; }

.fou-col-half { width:100%; float: left; position: relative; min-height: 1px; padding: 0.25em 0.25em 0.25em 0.25em; }

.blog-type{ font-size:28px; margin: 20px 10px 20px 10px; }

.blog-type:hover{ font-size:28px; margin: 20px 10px 20px 10px; }

.blog-title{ font-size:32px; margin: 20px 10px 20px 10px; }

.blog-content{ font-size:24px; margin: 20px 10px 20px 10px; }

.blog-readmore{ font-size:24px; margin: 20px 10px 20px 10px; }

.blog-img-mar { margin: 20px 10px 20px 10px ; }

.alive-button3{ margin-top:8vw; margin-bottom:8vw; } }

@media (max-width: 450px) { #blog-img-col { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
  
.fou-col-des{ width:50%; }
  
.block-ellipsis {  font-size: 1em!important; }

.blog-type{ font-size:14px; margin: 10px 0px; }

.blog-type:hover{ font-size:14px; margin: 10px 0px; }

.blog-title{ font-size:16px; margin: 10px 0 10px 0px; }

.blog-content{ font-size:10px !important; margin: 10px 0px; }

.blog-readmore{ font-size:10px; margin: 10px 0px; }

.blog-img-mar { margin: 10px 0px; }

.alive-button3{ margin-top:8vw; margin-bottom:8vw; } }
  
/*get in touch*/
.fbottom{ font-size:0.65em; color:#555654; }
  
ul li{ display:inline; text-align:right; }
  
.botnav{ color:#555654; font-size:0.7em; margin-right: 30px; }
  
.botnav:hover{ color:#8fda00; }

.area1{ height: 479px; width: 1402px; background: rgba(255, 255, 255, 0); margin:10px; display:table-cell; vertical-align:middle; text-align:center; }

.fbin{ display: inline-block; }

@media (max-width:768px) { .area1{ height: 45vh; width: 100vw; }
  .one, .three, .four{ margin-top:10vw; margin-bottom:10vw; }
  .two{ margin-top:15vw !important; }
  .one, .two, .three, .four{ text-align: center !important; float: none!important; }
  .three, .four{ font-size:22px; }
  .alive-button-getintouch{ padding:30px 75px !important; font-size: 20px !important; font-weight: bold; height:120%; width: 120%; }
  .fbin{ display:block; padding-top:10vw; }
  .chsize{ width: 10%; height: 10%; } }
  